/* Generell stil */
body {
  background-color: #061019;
  margin: 0;
  padding: 0;
}

/* App-header */
.App-header {
  background-color: #061019;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  overflow-y: auto;
}

/* Header */
.header {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* Form container */
.form-container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #276B7F;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centrera horisontellt */
}

/* Form grupp */
.form-group {
  margin-bottom: 15px;
  margin-left: 3%;
}

/* Inputfält */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box; /* Inkludera padding och kantlinjer i bredden */
  max-width: 97%; /* Anpassa bredden så att det ser mer balanserat ut */
}

/* Submit-knapp */
.form-group input[type="submit"] {
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-group input[type="submit"]:hover {
  background-color: #40a9ff;
}

@media (max-width: 600px) {
  /* Anpassa storlekar och layout för mindre skärmar här */
  .form-container {
    width: 90%;
    max-width: 90%;
  }
  
  .header {
    font-size: 1.5rem;
  }
}
